<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caloriesdiary.caloriesdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <service
        android:name=".FirebaseNotify"
        android:enabled="true"
        android:exported="true" />
    <service android:name="com.fcm.MyFirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service android:name=".MyFirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.SetAGoal" android:screenOrientation="portrait" />
        <activity android:name=".Activities.AboutActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.AccSettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.ArchiveActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.ArchiveItemDataActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.PersonalProfileEditActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".Activities.PersonalProfileActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Activities.StatActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
           />
        <activity android:name=".Activities.SettingsActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".Activities.DeleteAccountActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".Activities.ChangePasswordActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".Activities.DiaryActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />

        <activity android:name=".Activities.AuthorizationActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.TodayActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".Activities.RegistrationActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".Activities.ForgetPassActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Activities.RecycleActionCatalogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".RecycleActionCatalogActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".Activities.FoodBuilderActivity" android:screenOrientation="portrait"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.FoodBuilderActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name=".ControlService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>